* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebox {
  width: 20%; /* Ширина боковой панели */
  background-color: #f0f0f0;
  padding: 10px;
  overflow-y: auto; /* Прокрутка, если содержимого много */
  height: 500px;
}

.main-content {
  width: 80%; /* Занимает оставшееся место */
  padding: 10px;
}

textarea {
  width: 100%;
  height: 800px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

/* .w-md-editor-toolbar {
  display: none;
} */

/* Стили для редактора */
.editor {
  height: 100%; /* Задаем высоту для редактора */
}


img{
  text-align: center;
}

.Grand {
  display: flex;
}
blockquote {
  background-color: antiquewhite;
}